@import "tailwindcss";

  @font-face {
    font-family: "circular-web";
    src: url("/fonts/circularweb-book.woff2") format("woff2");
  }

  @font-face {
    font-family: "general";
    src: url("/fonts/general.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-medium";
    src: url("/fonts/robert-medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-regular";
    src: url("/fonts/robert-regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "zentry-regular";
    src: url("/fonts/zentry-regular.woff2") format("woff2");
  }

@theme {
  --font-circular-web: "circular-web", sans-serif;
  --font-general: "general", sans-serif;
  --font-robert-medium: "robert-medium", sans-serif;
  --font-robert-regular: "robert-regular", sans-serif;
  --font-zentry-regular: "zentry-regular", sans-serif;
}

/* @theme {
  colors: {
    blacks: "#ffed00",
    yellows: "#E0D205",
    lightGreen: "#A4CD01",
    darkGreen: "#02754B",
  }
} */
